<ion-content class="ion-padding" [fullscreen]="true">
  <div class="forgot-container">
    <img src="assets/icon/Icon.png" alt="GoRentall Logo" class="logo" />
    <h2>Lupa Password</h2>

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" placeholder="Masukkan email anda"></ion-input>
    </ion-item>

    <ion-button expand="block" color="success" class="btn-green">
      Kirim Link Reset Password
    </ion-button>

    <ion-button expand="block" color="light" class="btn-grey">
      Kembali
    </ion-button>

    <div class="signup-link">
      <ion-text color="medium">
        Belum punya akun? <strong>Daftar di sini</strong>
      </ion-text>
    </div>
  </div>
</ion-content>
